/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 *= require select2
 */

// Bootstrap Sass
@import "bootstrap-sprockets";
@import "bootstrap";
// toastr
@import "toastr";

@for $i from 0 through 30 {
  .mt#{$i * 5} {
    margin-top:#{$i * 5}px !important;
  }
  .mb#{$i * 5} {
    margin-bottom:#{$i * 5}px !important;
  }
  .pt#{$i * 5} {
    padding-top:#{$i * 5}px !important;
  }
  .pb#{$i * 5} {
    padding-bottom:#{$i * 5}px !important;
  }
}

//input[type="text"] {
//  width: 300px;
//  height: 40px;
//  //border: none;
//}

.huchidori_font {
  font-size: 150%;
  color: #2E2F30;
  text-shadow: 1px 1px 0 white;
}

@font-face {
  font-family: 'Nashi';
  src: font-url('Nyashi.ttf') format('truetype');
  //font-weight: normal;
  //font-style: normal;
}
@font-face {
  font-family: 'crayon';
  src: font-url('crayon.ttf') format('truetype');
}
@font-face {
  font-family: 'kokubanB';
  src: font-url('kokubanB.ttf') format('truetype');
}
@font-face {
  font-family: 'RiiTN_R';
  src: font-url('RiiTN_R.otf') format('opentype');
}
@font-face {
  font-family: 'Magic';
  src: font-url('TanukiMagic.ttf') format('truetype');
}
@font-face {
  font-family: 'digital';
  src: font-url('digital.ttf') format('truetype');
}


body{
  font-family: 'Nashi';
  line-height: 2.5;
}

.detail_task_font{
  font-family: 'crayon';
  line-height: 2.5;
}
.task_caption_font {
  font-family: 'RiiTN_R';
  font-size: 120%;
}
.table_title_font {
  font-family: 'Magic';
  font-size: 200%;
}