/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require toastr
 *= require select2
 */

// Bootstrap Sass
@import "bootstrap-sprockets";
@import "bootstrap";
// toastr
@import "toastr";

@for $i from 0 through 30 {
  .mt#{$i * 5} {
    margin-top:#{$i * 5}px !important;
  }
  .mb#{$i * 5} {
    margin-bottom:#{$i * 5}px !important;
  }
  .pt#{$i * 5} {
    padding-top:#{$i * 5}px !important;
  }
  .pb#{$i * 5} {
    padding-bottom:#{$i * 5}px !important;
  }
}

//input[type="text"] {
//  width: 300px;
//  height: 40px;
//  //border: none;
//}

.huchidori_font {
  font-size: 150%;
  color: #2E2F30;
  text-shadow: 1px 1px 0 white;
}

@font-face {
  font-family: 'Nashi';
  src: font-url('Nyashi.ttf') format('truetype');
  //font-weight: normal;
  //font-style: normal;
}
@font-face {
  font-family: 'crayon';
  src: font-url('crayon.ttf') format('truetype');
}
@font-face {
  font-family: 'kokubanB';
  src: font-url('kokubanB.ttf') format('truetype');
}
@font-face {
  font-family: 'RiiTN_R';
  src: font-url('RiiTN_R.otf') format('opentype');
}
@font-face {
  font-family: 'Magic';
  src: font-url('TanukiMagic.ttf') format('truetype');
}
@font-face {
  font-family: 'digital';
  src: font-url('digital.ttf') format('truetype');
}


body{
  font-family: 'Nashi';
  line-height: 2.5;
}

.detail_task_font{
  font-family: 'crayon';
  line-height: 2.5;
}
.task_caption_font {
  font-family: 'RiiTN_R';
  font-size: 120%;
}
.table_title_font {
  font-family: 'Magic';
  font-size: 200%;
}

.dropdown-menu {
  background-image: url("/assets/images/system/mokume.png");
  text-shadow: 2px 1px 0 #f7ecb5;
}

.dropdown-menu.left {
  left:0;
  right:80%;
  &::before {right:auto !important; left:9px;}
  &::after {right:auto !important; left:10px;}
}

.customNav > .active > a, .customNav > .active > a:hover, .customNav > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
  box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.customNav > li > a {
  border-right: 1px solid #d5d5d5;
  border-left: 1px solid #fff;
}
.customNav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #777;
  text-align: center;
  //background-color: #e5e5e5;
  //background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  //background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  //background-image: -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  //background-image: -webkit-gradient(linear, left top, left bottom, from(top), color-stop(0%, #f5f5f5), to(#e5e5e5));
  //background-image: linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 );
  background-repeat: repeat-x;
  border-bottom: 1px solid #d5d5d5;
}

.navbar-nav {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
  background-repeat: repeat-x;
}