// Place all the styles related to the TasksList controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header_color{
  background: linear-gradient(#acb6e5, #86fde8);
}
.header_color_admin{
   background: linear-gradient(#d7d2cc, #BBD2C5);
 }
.background_color {
  background: radial-gradient(#FFEEEE, #DDEFBB);
}


.task{
  float: left;
  width: 24%;
  //margin: 5px;
  box-sizing: border-box;
  td, th {
    padding: 1px 0px 15px;
  }
}
.task_bord_title {
  //height: 50px;
  //left: 10px;
  //top: 10px;
  background: url("/assets/images/title_bord.png");
  background-size: 100% 100%;
}

.task_animation{
  float: left;
  width: 24%;
  margin: 5px;
  box-sizing: border-box;
  //animation: rotation 2s ease 0s infinite alternate none running;
  animation: rotation2 3s ease 0s infinite alternate none running;
}
.task-detail{
  width: 15%;
  margin: 10px;
}
.waku_image{
  background-image:  url("/assets/images/table_image2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  tr td {
    padding: 0 50px;
  }
}

.waku_image_user{
  background-image:  url("/assets/images/Chalkboard-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  width: 90%;
  margin: 10px;
}

.waku_image_task {
  background-image:  url("/assets/images/table_image1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.task_caption_width {
  width: 60%;
}

.label_border {
  //padding: 0.2em 0.5em;
  margin: 5px 0;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

.kureyon_font{
  color: black;
  font-size: 20px;
}

.under {
  border-bottom: double 6px #87CEFA;
}

.table_title{
  width: 17%;
}

.table_width{
  height: 100px;
}

@keyframes rotation {
  0% {
    transform: rotate(-1deg);
  }
  //50% {
  //  transform: rotate(0deg);
  //  background-color: #1b6d85;
  //}
  100% {
    transform: rotate(1deg);
  }
}
@keyframes rotation2 {
  0% {
    transform: translateY(-5px);
  }
  //50% {
  //  transform: rotate(0deg);
  //  background-color: #1b6d85;
  //}
  100% {
    transform: translateY(1px);
  }
}