// Place all the styles related to the TasksList controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back_ground_color{
  background-color: #CCFFFF	;
}
.back_ground_color_admin{
   background-color: #E3DFDF;
 }


.task{
  float: left;
  width: 24%;
  margin: 5px;
  box-sizing: border-box;
}
.task_animation{
  float: left;
  width: 24%;
  margin: 5px;
  box-sizing: border-box;
  //animation: rotation 2s ease 0s infinite alternate none running;
  animation: rotation2 3s ease 0s infinite alternate none running;
}
.task-detail{
  width: 15%;
  margin: 10px;
}
.waku_image{
  background-image:  url("/assets/images/Chalkboard-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  tr td {
    padding: 0 50px;
  }
}

.waku_image_user{
  background-image:  url("/assets/images/Chalkboard-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  width: 90%;
  margin: 10px;
}

.label_border {
  //padding: 0.2em 0.5em;
  margin: 5px 0;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;
}

.kureyon_font{
  color: white;
  font-size: 20px;
}

.under {
  border-bottom: double 6px #87CEFA;
}

.table_title{
  width: 15%;
}

.table_width{
  height: 100px;
}

@keyframes rotation {
  0% {
    transform: rotate(-1deg);
  }
  //50% {
  //  transform: rotate(0deg);
  //  background-color: #1b6d85;
  //}
  100% {
    transform: rotate(1deg);
  }
}
@keyframes rotation2 {
  0% {
    transform: translateY(-5px);
  }
  //50% {
  //  transform: rotate(0deg);
  //  background-color: #1b6d85;
  //}
  100% {
    transform: translateY(1px);
  }
}