title
  | お仕事管理♡
= csrf_meta_tags
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

= render partial: 'layouts/form_group_new', locals: {group: @group}